# Thank You for Verifying Your Email

This is a placeholder to demonstrate the Confirmation
Redirect URL functionality for COmanage Registry enrollment
flow configuration.

The production deployment will use a page with content
prescribed by the Program Office.
