# Thank You for Verifying Your Email

Now that your email has been verified your petition may
be reviewed.

You will receive an email after your petition has been
approved.

This is a placeholder to demonstrate the Confirmation
Redirect URL functionality for COmanage Registry enrollment
flow configuration.
